body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #09ec77;
    color: white;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

footer {
    background-color: #041d8b;
    color: white;
    padding: 10px 0;
    text-align: center;
}
.additional-links {
    text-align: center;
    margin-top: 20px;
}
.additional-links a {
    color: #041d8b; /* Cambio de color de texto */
    text-decoration: none;
    margin: 0 10px; /* Añadido espacio entre enlaces */
}
.additional-links a:hover {
    text-decoration: underline; /* Subrayado al pasar el ratón */
}