<br>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Productos</h1>
            <p>Aqui puedes ver la gran variedad de chocolates que ofrece nuestra empresa</p>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
    </div>
    <div class="row">
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
    </div>
    <div class="row">
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
    </div>
    <div class="row">
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
    </div>
    <div class="row">
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
    </div>
</div>
