<br>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1>Formulario</h1>
            <p>Llena este formulario para entrar a nuestro newsletter y mantenerte informado acerca de todas nuestras
                promociones y nuevos productos</p>
        </div>
    </div>
    <br><br>

    <div class="row form-container">
        <form>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Direccion de correo electronico</label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Nombre</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Numero de telefono</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Carnet de identidad</label>
                <input type="password" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Numero de pedido</label>
                <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">Reenviar mis respuestas a mi correo</label>
            </div>
            <button type="submit" class="btn btn-primary">Subir formulario</button>
        </form>
    </div>
</div>