/* Header */
.cont-header{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #ececec;
}
.logo-header{
    max-width: 5rem;
}
.nav-list{
    list-style-type: none;
    display: flex;
    gap: 1rem;
}
.nav-list li a{
    text-decoration: none;
    color: #1c1c1c;
}
.abrir-menu,
.cerrar-menu{
    display: none;
}
@media screen and (max-width: 550px){
    .abrir-menu,
    .cerrar-menu{
        display: block;
        border: 0;
        font-size: 1.25rem;
        background-color: transparent;
        cursor: pointer;
    }
    .abrir-menu{
        color: #1c1c1c;
    }
    .cerrar-menu{
        color: #ececec;
    }
    .nav{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 1rem;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #1c1c1c;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }
    .nav.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
    }
    .nav-list li a{
        color: #ececec;
    }
}
/* Footer */
footer {
    background-color: #393939;
    color: #aaaaaa;
    width: 100%;
    padding: 1rem 0;
    box-sizing: border-box;
    /* position: fixed;
    bottom: 0;
    left: 0;
    right: 0; */
}
footer p{
    text-align: justify;
}
footer h3{
    color: #ffffff;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

.wrap-footer {
    display: grid;
    grid-template-columns: 30% 15% 15% 20%;
    column-gap: 5%;
    padding: 1rem;
    margin: 2rem auto;
    max-width: 1200px;
}

.text-element-footer li {
    line-height: 2;
}

.link-elements-footer li a {
    color: #aaaaaa;
}

.rrss-element-footer ul {
    display: flex;
    flex-flow: wrap;
}

.rrss-element-footer img {
    width: 35px;
}

.rrrs-element-footer li {
    margin-right: 1rem;
}

.footer-creds {
    display: flex;
    justify-content: space-between;
    padding: 0 1rem;
    color: #aaaaaa;
    font-size: .9rem;
    max-width: 1200px;
    margin: 0 auto;
}

.legal-creds ul {
    display: flex;
    flex-flow: row;
}

.legal-creds ul li {
    padding-right: 1rem;
}

.legal-creds ul a {
    color: #aaaaaa;
    font-size: .9rem;
}

@media (max-width:768px) {
    .wrap-footer {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width:480px) {
    .wrap-footer {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media (max-width:320px) {
    .footer-creds {
        flex-flow: column;
    }
}
