<br>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h1 class="estrella">Productos Estrella</h1>
        </div>
    </div>
    <br>
    <div class="row horizontal-scrollable">
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
        <div class="col-3"><app-producto></app-producto></div>
    </div>

    <br>
    <br>

    <div class="row">
        <div class="col-12 text-center">
            <h1 class="estrella">Productos en Oferta</h1>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-2"><app-producto-oferta></app-producto-oferta></div>
        <div class="col-2"><app-producto-oferta></app-producto-oferta></div>
        <div class="col-2"><app-producto-oferta></app-producto-oferta></div>
        <div class="col-2"><app-producto-oferta></app-producto-oferta></div>
        <div class="col-2"><app-producto-oferta></app-producto-oferta></div>
    </div>
    <br>
    <div class="row">
        <div class="col-2"><app-producto-oferta></app-producto-oferta></div>
        <div class="col-2"><app-producto-oferta></app-producto-oferta></div>
        <div class="col-2"><app-producto-oferta></app-producto-oferta></div>
        <div class="col-2"><app-producto-oferta></app-producto-oferta></div>
        <div class="col-2"><app-producto-oferta></app-producto-oferta></div>
    </div>
    <br>
    <div class="row">
        <div class="col-2"><app-producto-oferta></app-producto-oferta></div>
        <div class="col-2"><app-producto-oferta></app-producto-oferta></div>
        <div class="col-2"><app-producto-oferta></app-producto-oferta></div>
        <div class="col-2"><app-producto-oferta></app-producto-oferta></div>
        <div class="col-2"><app-producto-oferta></app-producto-oferta></div>
    </div>
</div>